<p-table *ngIf="!playerInputVisible" #playersTable [columns]="skillList" [value]="players" [(selection)]="selectedPlayers" [rowHover]="true" selectionMode="multiple" [globalFilterFields]="['name']" styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines"
    (selectionChange)="selectionChanged()">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center">
            <span>{{title}}</span>
            <div *ngIf="isAllPlayersTable" class="p-inputgroup w-auto ml-auto">
                <span class="p-inputgroup-addon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </span>
                <input #tableFilter pInputText type="text" (input)="filterPlayers(playersTable, $event.target)" placeholder="Search keyword"/>
                <button type="button" pButton icon="fa-solid fa-xmark" (click)="clearFilter(playersTable, tableFilter)"></button>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-properties>
        <tr>
            <th *ngIf="isAllPlayersTable">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th class="text-center">#</th>
            <th pSortableColumn="name" width="130" class="text-center">
                Name <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th *ngFor="let prop of properties" [pSortableColumn]="prop" class="text-center">
                {{ prop | titlecase }} <p-sortIcon [field]="prop"></p-sortIcon>
            </th>
            <th pSortableColumn="overall" class="text-center">
                Overall <p-sortIcon field="overall"></p-sortIcon>
            </th>
            <!-- <th *ngIf="isAllPlayersTable" class="p-0">
                <button pButton pRipple type="button" pTooltip="Add Player" icon="fa-solid fa-plus" (click)="showPlayerInputDialog(null)" class=" p-button-sm"></button>
            </th> -->
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-player let-rowIndex="rowIndex" let-properties="columns">
        <tr>
            <td *ngIf="isAllPlayersTable">
                <p-tableCheckbox [value]="player"></p-tableCheckbox>
            </td>
            <td>{{ rowIndex + 1 }}</td>
            <td>
                <i class="fa-solid" [ngClass]="player.gender === 0 ? 'fa-mars' : 'fa-venus'" [ngStyle]="{'color': player.gender === 0 ? 'deepskyblue' : 'deeppink'}"></i>
                {{ player.name }}
            </td>
            <ng-container *ngFor="let prop of properties">
                <ng-container *ngTemplateOutlet="numericPropTemplate; context:{$implicit: player | playerPropertyValue : prop}">
                </ng-container>
            </ng-container>
            <ng-container *ngTemplateOutlet="numericPropTemplate; context:{$implicit: player | playerOverallValue}">
            </ng-container>
            <!-- <td *ngIf="isAllPlayersTable" class="p-0">
                <button pButton pRipple type="button" pTooltip="Edit Player" icon="fa-solid fa-pen" (click)="showPlayerInputDialog(player)" class="p-button-text p-button-sm"></button>
            </td> -->
        </tr>
    </ng-template>
</p-table>

<ng-template #numericPropTemplate let-value>
    <td class="text-center" [ngStyle]="{'background-color': value > 8 ? '#3ab449' : value > 6 ? '#92ca61' : value > 3 ? '#fcb041' : value > 1 ? '#f57951' : '#e22026'}">
        {{ value | number: '1.0-2' }}
    </td>
</ng-template>

<p-dialog [header]="selectedPlayer ? 'Edit Player' : 'Add Player'" [(visible)]="playerInputVisible" [modal]="true" [draggable]="false" [resizable]="false">
    <app-player-input *ngIf="playerInputVisible" [selectedPlayer]="selectedPlayer" (playerUpdated)="playerUpdated($event)"></app-player-input>
</p-dialog>