<div *ngIf="(team1 && team1.length > 0) || (team2 && team2.length > 0)">
    <span class="text-sm font-bold bg-cyan-100">{{caption}}</span>
    <span class="text-xl font-bold bg-cyan-300">{{title}}</span>
    <div class="grid">
        <div class="col" *ngIf="team1 && team1.length > 0">
            <app-team-display [teamTitle]="team1Title" [team]="team1"></app-team-display>
        </div>
        <div class="col" *ngIf="team2 && team2.length > 0">
            <app-team-display [teamTitle]="team2Title" [team]="team2"></app-team-display>
        </div>
    </div>
</div>