<div class="grid">
    <div class="col-6">
        <app-player-input></app-player-input>
    </div>
    <div class="col-fixed">
        <h2>Players</h2>
        <app-players-display [players]="teamBalancerService.players"></app-players-display>
    
        <button pButton (click)="balanceTeams()">Balance Teams</button>
    </div>
</div>

<div class="grid">
    <div class="col-fixed">
        <app-team-display [teamTitle]="'Team 1'" [teamPlayers]="teamBalancerService.team1"></app-team-display>
    </div>
    <div class="col-fixed">
        <app-team-display [teamTitle]="'Team 2'" [teamPlayers]="teamBalancerService.team2"></app-team-display>
    </div>
</div>